.container{
    background: #121212;
    width: 100%;
    height: 100vh;
    color: #FFFFFF;
    padding: 2% 4%;
}
.div1{
    display: flex;
    align-items: center;
    gap: 8px;
}
.div2{
    margin-top: 1rem;
    width: 100%;
   
}
.profilecontent{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  


}
.profile{
    /* position: relative; */
    width: 60px;
    height: 60px;

}
.pen{
    position: absolute;
    right: 40%;
    top: 38%;
    width: 15px;
    height: 15px;


}
.pname{
    margin-top: 24px;
    color: rgba(204, 204, 204, 1);
    font-size: 15px;
}
.plevel{
    margin-top: 4px;
    color: rgba(153, 153, 153, 1);
    font-size: 12px;
}
.div3{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 1rem; */
}
.wrapleft>:nth-child(2){
   color: rgba(204, 204, 204, 1);
    font-size: 14px;
    font-weight: inherit;
}
.wrapleft{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.wrapright{
    display: flex;
}
.userdiv{
    background-color:rgba(25, 25, 25, 1);
   width: 40px;
   height: 40px;
   padding: 12px;
}