.container{
        background: #121212;
        width: 100%;
        height: 100vh;
        color: #FFFFFF;
        padding: 2% 4%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
}
.div1{
    display: flex;
}
.div2{
    display: flex;
    align-items: center;
    /* margin-top: 1.3rem; */
}
.profile{
    width: 60px;
    height: 60px;
}
.div2right{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.div2right>:nth-child(1){
    color:rgba(204, 204, 204, 1);
    font-size: 16px;
}
.div2right>:nth-child(2){
    color:rrgba(153, 153, 153, 1);
    font-size: 12px;
}
.div3{
    display: flex;
    flex-direction: column;
    margin-top: 0.7rem;
}
.car1{
    width: 100%;
    
}
.div3bottom{
    display: flex;
    justify-content: space-between;
    color: rgba(204, 204, 204, 1);
    font-size: 16px;
}