.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 100vh;
    color: aliceblue;
}
.div1{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.div1>:nth-child(1){
    color: #CCC;
text-align: center;
font-size: 18px;
font-family: Poppins;
font-weight: 500;
}
.div1>:nth-child(2){
    color: #555;
text-align: center;
font-size: 14px;
font-family: Poppins;
}
.form1{
    display: flex;
    flex-direction: column;
  }

  .sinput {
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    width: 312px;
    height: 42px;
    padding: 10px 16px;
    align-items: center;
    gap: 10px;
    border: none;
    margin-top: 16px;
  }
  .fgbutton{
    display: flex;
width: 312px;
height: 40px;
padding: 0px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
background: rgba(255, 255, 255, 0.60);
border: none;
  }